<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
<p>We are currently a very small team of 1 person for the purpose of creating a community to share knowledge and learn new things together. We hope all users can share interesting things they've learned in life and help others learn things too.</p>
<img src ="#">
<h4>Jonathan Yim</h4>
<p>Asian kid, small eyes, black hair, bad eyesight, wears sweats and a hoodie, probably plays too many video games. OTHS 2022, CS Academy. Contact at jonathanyim0021@gmail.com</p>
<h3>Version History</h3>
<h4>0.0.2</h4>
<p>updated some pages, made about us page</p>
<h4>0.0.1</h4>
<p>set up site and stuff</p>
{% endblock %}