{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Chats</h1>
    </div>
    <div class="col">
        <br>
        <br>
        <input class="form-control" type="search" placeholder="Search Username(not working)" aria-label="Search">
    </div>
    <div class="col">
        <a href="/chat/new" class="btn btn-primary btn-sm mt-5" role="button">New Chat</a>
    </div>
</div>

{% for chat in chats %}
    <!--Checks to see if a user is involved in a chat-->
    {% if current_user.id == chat.senderid or current_user.id == chat.receiverid %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}
                    {{moment(chat.createdate).calendar()}}
            </div>
            <div class="col-2">
                <!-- user1 or user2 is the current user, display the other one-->
                {% if loop.index == 1 %}
                <h3 class="display-5">Receiver</h3>
                {% endif %}
                {% if current_user.id == chat.receiverid %}
                    <a href="/chat/{{chat.id}}">
                        {{chat.sender.username}}
                    </a>
                {% elif current_user.id == chat.senderid %}
                    <a href="/chat/{{chat.id}}">
                        {{chat.receiver.username}}
                    </a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>No chats</h1>

    {% endif %}
{% endfor %}

{% endblock %}