
{% extends 'base.html' %}

{% block body %}

{% if chat %}
    <a href="/chat/new/{{chat.id}}" class="btn btn-primary btn-sm" role="button">New Comment</a>
    <p>{{ chat.receivername }}</p>
    <div class="ms-5">
        {% if messages %}
            <h1 class="display-5">Messages</h1>
            {% for message in messages %}
                {% if current_user.id == message.sender %}
                    <a href="/message/delete/{{message.id}}"><img width="20" src="/static/delete.png"></a> 
                    <a href="/message/edit/{{message.id}}"><img width="20" src="/static/edit.png"></a>
                {% endif %}
                {{moment(message.createdate).calendar()}} {{message.message.username}} 
                {% if message.modifydate %}
                    modified {{moment(message.modifydate).calendar()}}
                {% endif %}
                <br>
                <p class="fs-3">{{message.content}}</p>
            {% endfor %}
        {% else %}
            <h1 class="display-5">No Messages</h1>
        {% endif %}
    </div>
{% else %}
    <h1 class="display-5">No Chat</h1>
{% endif %}
{% endblock %}