{% extends "base.html" %}

{% block body %}
        <h1>Create New Chat</h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.receiver.label }} <br>
                {{ form.receiver(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.receiver.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
